*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

.Body{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card{
  width: 30%;
  height: 70%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input{
  width: 70%;
  height: 100%;
  padding-left: 10px;
}

.PercentBox{
  display: flex;
  gap: 5px;
}

.percent{
  width: 70%;
  height: 5%;
  /* background-color: red; */
  border: solid rgba(0, 0, 0, 0.459) 1px;
  padding-left: 10px;
  color: red;
  display: flex;
  gap: 5px;
}

button{
  width: 20%;
  height: 8%;
  background-color: green;
  border: none;
  border-radius: 10px;
}